/* General Styling Start */

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

/* General Styling End */

/* Header Start */

header{
    width: 100%;
    height: 120px;
    background-color: #4D4847;
    box-shadow: 0px 14px 8px 3px rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-evenly;
}

header ul{
    list-style-type: none;
}

header ul li{
    padding: 5px;
    color: black;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 15px;
    transition-duration: 0.3s;
}

header ul li:hover{
    color: white;
    border-color: white;
    background-color: black;
    transition-duration: 0.3s;
}

header ul li a{
    font-weight: bold;
    color: black;
    transition-duration: 0.3s;
}

header ul li a:hover{
    color: white;
    transition-duration: 0.3s;
}

.nav-container, .logo-container{
    margin-left: 15px;
    margin-right: 15px;
}

.nav-container{
    margin-top: 5px;
}

.logo-container{
    margin-top: 25px;
}

/* Header End */

/* Footer Start */

footer{
    width: 100%;
    height: 100px;
    background-color: #4D4847;
    display: flex;
    justify-content: space-evenly;
}

footer div a{
    font-weight: bolder;
    color: black;
    transition-duration: 0.3s;
}
footer div a:hover{
    transition-duration: 0.3s;
    color: white;
}

footer div{
    margin-top: 30px;
    text-align: center;
}

/* Footer End */

/* Front Page Start */

#welcome-text-container{
    width: 100%;
    height: 90vh;
    background-image: url('../img/front_page.jpeg');
}

.text-container{
    margin: 0 auto;
    max-width: 500px;
    min-width: 330px;
    position: relative;
    top: 40%;
    border: 2px solid black;
    border-radius: 15px;
}

.text-container h1{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.text-container h1:nth-child(1){
    background-color: #1B4353;
    margin-bottom: 20px;
    border-radius: 15px 15px 0 0;
}

.text-container h1:nth-child(2){
    background-color: #8BAAAD;
    border-radius: 0 0 15px 15px;
}

#stuff-container{
    width: 100%;
    height: 200px;
    background-color: #1B4353;
}

#stuff{
    margin: 0 auto;
    max-width: 500px;
    min-width: 330px;
    padding-top: 10px;
    padding-bottom: 10px; 
    background-color: white;
    border-radius: 15px;
    position: relative;
    top: 40px;
}

#stuff h1{
    text-align: center;
    border: 2px solid rgb(175, 175, 175);
    border-radius: 15px 15px 0 0;
    color: rgb(175, 175, 175);
    background-color: #1B4353;
}

#stuff h1:nth-child(1){
    margin-bottom: 10px;
    border-radius: 15px 15px 0 0;
}

#stuff h1:nth-child(2){
    margin-top: 10px;
    border-radius: 0 0 15px 15px;
}

.about-container{
    width: 100%;
    background-image: url('../img/about_section.jpeg');
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-text-container{
    margin-top: 100px;
    max-width: 900px;
    min-width: 330px;
    margin-bottom: 150px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5)
}

.about-text-container p{
    /* border: 2px solid black; */
    padding: 15px;
    /* border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.6) */
}

.profile-image{
    margin-top: 50px;
    margin-bottom: 50px;
}

.profile-image img{
    width: 100%;
    max-width: 400px;
    min-width: 280px;
    height: auto;
    border-radius: 50%;
}

.about-content-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(27, 67, 83, 0.5);
}

.about-title-container{
    width: 100%;
    background-color: rgba(27, 67, 83, 0.5);
    padding-top: 20px;
}

.about-title_text-container h1{
    text-align: center;
    text-decoration: underline;
}

.content-box{
    width: 330px;
    margin: 15px;
    background-color: #4D4847;
    border-radius: 15px;
    border: 2px dashed #8BAAAD;
}

.content-box img{
    width: 320px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}

.content-box h1, p{
    text-align: center;
    margin: 5px;
}

.content-box h1{
    text-decoration: underline;
}

.content-box p{
    margin-top: 12px;
    margin-bottom: 12px;
}

#welcome-text-container, .about-container, .ssbu-wallpapers{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Front Page End */

/* Hobbies Page Start */

.ssbu-wallpapers h1, p{
    text-align: center;
    margin: 15px;
    color: black;
}

.ssbu-wallpapers p{
    font-size: 20px;
    max-width: 800px;
    min-width: 330px;
    margin: 0 auto;
}

.ssbu-wallpapers h1{
    border-bottom: 1px solid black;
}

.ssbu-wallpapers{
    background-image: url('../img/SSBU_Battlefield_Background.png');
    padding-top: 20px;
    padding-left: 8px;
    padding-right: 8px;
}

.logos-container{
    background-image: url('../img/lap_times.jpeg');
}

.ssbu-wallpapers-text-container{
    max-width: 850px;
    min-width: 330px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.7)
}

.ssbu-wallpapers-text-container{
    border: 1px solid black;
    border-radius: 15px;
}

#container, #logo-container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
}


.box{
    background-color: rgba(27, 67, 83, 0.6);
    align-self: center;
    justify-self: center;
    border-radius: 10px;
}

.box img{
    width: 280px;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.box h4{
    margin: 8px;
    text-align: center;
    color: azure;
}

#stuff-container-2{
    width: 100%;
    height: 130px;
    background-color: #1B4353;
}

#stuff-2{
    margin: 0 auto;
    max-width: 500px;
    min-width: 330px;
    padding-top: 10px;
    padding-bottom: 10px; 
    background-color: white;
    border-radius: 15px;
    position: relative;
    top: 20px;
}

#stuff-2 h1{
    text-align: center;
    border: 2px solid rgb(175, 175, 175);
    border-radius: 15px 15px 0 0;
    color: rgb(175, 175, 175);
    background-color: #1B4353;
}

#stuff-2 h1:nth-child(1){
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.box .logos{
    width: auto;
    height: 300px;
    border-radius: 10px 10px 0 0;
}

.logo-wce{
    height: 170px;
    width: auto;
    border-radius: 10px 10px 0 0;
}

/* Hobbies Page End */

/* Media Queries Start */

@media screen and (min-width: 387px) {
    .nav-container{
        margin-top: 13px;
    }
}
@media screen and (min-width: 550px) {
    .nav-container{
        margin-top: 40px;
    }

    header ul li{
        display: inline-block;
    }
}
@media screen and (min-width: 700px) {
    #container, #logo-container {
        grid-template-columns: auto auto;
    }
}
@media screen and (min-width: 1000px) {
    #container {
        grid-template-columns: auto auto auto;
    }
}
@media screen and (min-width: 1300px) {
    #container {
        grid-template-columns: auto auto auto auto;
    }
}

@media screen and (min-width: 1400px) {
    .box img{
        width: 340px;
        height: auto;
    }
}

/* Media Queries End */