/* General Styling Start */

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

/* General Styling End */

/* Header Start */

header{
    width: 100%;
    height: 100px;
    background-color: #4D4847;
    box-shadow: 0px 14px 8px 3px rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-evenly;
}

header ul li{
    display: inline-block;
}

/* Header End */

/* Footer Start */

footer{
    width: 100%;
    height: 100px;
    background-color: #4D4847;
    display: flex;
}

/* Footer End */

/* Front Page Start */

#container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 30px;
    background-color: #2196F3;
    padding: 10px;
    align-items: center;
    justify-content: center;
}


.box{
    background-color: blue;
    align-self: center;
    justify-self: center;
}

.box img{
    width: 300px;
    height: auto;
}

.box h4{
    margin: 8px;
    text-align: center;
}

#welcome-text-container{
    width: 100%;
    height: 90vh;
    background-image: url('../img/front_page.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-container{
    margin: 0 auto;
    max-width: 500px;
    min-width: 330px;
    position: relative;
    top: 40%;
    border: 2px solid black;
    border-radius: 15px;
}

.text-container h1{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.text-container h1:nth-child(1){
    background-color: #1B4353;
    margin-bottom: 20px;
    border-radius: 15px 15px 0 0;
}

.text-container h1:nth-child(2){
    background-color: #8BAAAD;
    border-radius: 0 0 15px 15px;
}

#stuff-container{
    width: 100%;
    height: 200px;
    background-color: #1B4353;
}

#stuff{
    margin: 0 auto;
    max-width: 500px;
    min-width: 330px;
    padding-top: 10px;
    padding-bottom: 10px; 
    background-color: white;
    border-radius: 15px;
    position: relative;
    top: 40px;
}

#stuff h1{
    text-align: center;
    border: 2px solid rgb(175, 175, 175);
    border-radius: 15px 15px 0 0;
    color: rgb(175, 175, 175);
    background-color: #1B4353;
}

#stuff h1:nth-child(1){
    margin-bottom: 10px;
    border-radius: 15px 15px 0 0;
}

#stuff h1:nth-child(2){
    margin-top: 10px;
    border-radius: 0 0 15px 15px;
}

/* Front Page End */

@media screen and (min-width: 700px) {
    #container {
        grid-template-columns: auto auto;
    }
}
@media screen and (min-width: 1000px) {
    #container {
        grid-template-columns: auto auto auto;
    }
}